<%= form_with(model: cardatum, local: true) do |form| %>
  <% if cardatum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cardatum.errors.count, "error") %> prohibited this cardatum from being saved:</h2>

      <ul>
      <% cardatum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :cardatum_name %>
  </div>

  <div class="field">
    <%= form.label :base_price %>
    <%= form.text_field :base_price, id: :cardatum_base_price %>
  </div>

  <div class="field">
    <%= form.label :battery_capacity %>
    <%= form.text_field :battery_capacity, id: :cardatum_battery_capacity %>
  </div>

  <div class="field">
    <%= form.label :range %>
    <%= form.text_field :range, id: :cardatum_range %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
