<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cardatum.name %>
</p>

<p>
  <strong>Base price:</strong>
  <%= @cardatum.base_price %>
</p>

<p>
  <strong>Battery capacity:</strong>
  <%= @cardatum.battery_capacity %>
</p>

<p>
  <strong>Range:</strong>
  <%= @cardatum.range %>
</p>

<%= link_to 'Edit', edit_cardatum_path(@cardatum) %> |
<%= link_to 'Back', cardata_index_path %>
