- model_class = Car
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize

%table.table.table-striped.cars_table.table-bordered
  %thead
    %tr
      %th
      - @cars.each do |car|
        %th= car.brand + ' ' + car.name
  %tbody
    %tr
      %td= :base_pricerice
      - @cars.each do |car|
        %td= car.base_price
    %tr
      %td= :battery_capacity
      - @cars.each do |car|
        %td= car.battery_capacity
    %tr
      %td= :range
      - @cars.each do |car|
        %td= car.range
    %tr
      %td= :dc_charging
      - @cars.each do |car|
        %td= car.dc_charging
    %tr
      %td= :ac_charging
      - @cars.each do |car|
        %td= car.ac_charging
    %tr
      %td= :plug_type
      - @cars.each do |car|
        %td= car.plug_type
    %tr
      %td= :consumption
      - @cars.each do |car|
        %td= car.consumption
    %tr
      %td= :rental_battery
      - @cars.each do |car|
        %td= car.rental_battery
    %tr
      %td= :top_speed
      - @cars.each do |car|
        %td= car.top_speed
    %tr
      %td= :continuous_speed
      - @cars.each do |car|
        %td= car.continuous_speed
    %tr
      %td= :acceleration
      - @cars.each do |car|
        %td= car.acceleration
    %tr
      %td= :seats
      - @cars.each do |car|
        %td= car.seats
    %tr
      %td= :frunk_space
      - @cars.each do |car|
        %td= car.frunk_space
    %tr
      %td= :trunk_space
      - @cars.each do |car|
        %td= car.trunk_space
    %tr
      %td= :frunk_space_big
      - @cars.each do |car|
        %td= car.frunk_space_big
    %tr
      %td= :weight
      - @cars.each do |car|
        %td= car.weight
    %tr
      %td= :battery_voltage
      - @cars.each do |car|
        %td= car.battery_voltage
    %tr
      %td= :camper_mode
      - @cars.each do |car|
        %td= car.camper_mode
    %tr
      %td= :interiour_sounds
      - @cars.each do |car|
        %td= car.interiour_sounds
    %tr
      %td= :exteriour_sounds
      - @cars.each do |car|
        %td= car.exteriour_sounds
    %tr
      %td= :drive_axle
      - @cars.each do |car|
        %td= car.drive_axle
    %tr
      %td= :max_power
      - @cars.each do |car|
        %td= car.max_power
    %tr
      %td= :max_regen
      - @cars.each do |car|
        %td= car.max_regen
    %tr
      %td= :battery_temp_control
      - @cars.each do |car|
        %td= car.battery_temp_control
    %tr
      %td= :battery_cell_type
      - @cars.each do |car|
        %td= car.battery_cell_type
    %tr
      %td= :battery_chemistry
      - @cars.each do |car|
        %td= car.battery_chemistry
    %tr
      %td= :motor_type
      - @cars.each do |car|
        %td= car.motor_type
    %tr
      %td= :charging_network
      - @cars.each do |car|
        %td= car.charging_network
    %tr
      %td= :towing_capacity
      - @cars.each do |car|
        %td= car.towing_capacity
    %tr
      %td= :app_access
      - @cars.each do |car|
        %td= car.app_access
    %tr
      %td= t '.actions', :default => t("helpers.actions")
      - @cars.each do |car|
        %td
          = link_to t('.show', :default => t("helpers.links.show")), car_path(car), :class => 'btn btn-default btn-xs'
          %br
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_car_path(car), :class => 'btn btn-default btn-xs'
          %br
          = link_to t('.destroy', :default => t("helpers.links.destroy")), car_path(car), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'
        
        
= link_to t('.new', :default => t("helpers.links.new")), new_car_path, :class => 'btn btn-primary'
