- model_class = Car
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:brand) + ':'
  %br
  = @car.brand
%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @car.name
%p
  %strong= model_class.human_attribute_name(:base_price) + ':'
  %br
  = @car.base_price
%p
  %strong= model_class.human_attribute_name(:battery_capacity) + ':'
  %br
  = @car.battery_capacity
%p
  %strong= model_class.human_attribute_name(:range) + ':'
  %br
  = @car.range
%p
  %strong= model_class.human_attribute_name(:dc_charging) + ':'
  %br
  = @car.dc_charging
%p
  %strong= model_class.human_attribute_name(:ac_charging) + ':'
  %br
  = @car.ac_charging
%p
  %strong= model_class.human_attribute_name(:plug_type) + ':'
  %br
  = @car.plug_type
%p
  %strong= model_class.human_attribute_name(:consumption) + ':'
  %br
  = @car.consumption
%p
  %strong= model_class.human_attribute_name(:rental_battery) + ':'
  %br
  = @car.rental_battery
%p
  %strong= model_class.human_attribute_name(:top_speed) + ':'
  %br
  = @car.top_speed
%p
  %strong= model_class.human_attribute_name(:continuous_speed) + ':'
  %br
  = @car.continuous_speed
%p
  %strong= model_class.human_attribute_name(:acceleration) + ':'
  %br
  = @car.acceleration
%p
  %strong= model_class.human_attribute_name(:seats) + ':'
  %br
  = @car.seats
%p
  %strong= model_class.human_attribute_name(:frunk_space) + ':'
  %br
  = @car.frunk_space
%p
  %strong= model_class.human_attribute_name(:trunk_space) + ':'
  %br
  = @car.trunk_space
%p
  %strong= model_class.human_attribute_name(:frunk_space_big) + ':'
  %br
  = @car.frunk_space_big
%p
  %strong= model_class.human_attribute_name(:weight) + ':'
  %br
  = @car.weight
%p
  %strong= model_class.human_attribute_name(:battery_voltage) + ':'
  %br
  = @car.battery_voltage
%p
  %strong= model_class.human_attribute_name(:camper_mode) + ':'
  %br
  = @car.camper_mode
%p
  %strong= model_class.human_attribute_name(:interiour_sounds) + ':'
  %br
  = @car.interiour_sounds
%p
  %strong= model_class.human_attribute_name(:exteriour_sounds) + ':'
  %br
  = @car.exteriour_sounds
%p
  %strong= model_class.human_attribute_name(:drive_axle) + ':'
  %br
  = @car.drive_axle
%p
  %strong= model_class.human_attribute_name(:max_power) + ':'
  %br
  = @car.max_power
%p
  %strong= model_class.human_attribute_name(:max_regen) + ':'
  %br
  = @car.max_regen
%p
  %strong= model_class.human_attribute_name(:battery_temp_control) + ':'
  %br
  = @car.battery_temp_control
%p
  %strong= model_class.human_attribute_name(:battery_cell_type) + ':'
  %br
  = @car.battery_cell_type
%p
  %strong= model_class.human_attribute_name(:battery_chemistry) + ':'
  %br
  = @car.battery_chemistry
%p
  %strong= model_class.human_attribute_name(:motor_type) + ':'
  %br
  = @car.motor_type
%p
  %strong= model_class.human_attribute_name(:charging_network) + ':'
  %br
  = @car.charging_network
%p
  %strong= model_class.human_attribute_name(:towing_capacity) + ':'
  %br
  = @car.towing_capacity
%p
  %strong= model_class.human_attribute_name(:app_access) + ':'
  %br
  = @car.app_access


= link_to t('.back', :default => t("helpers.links.back")), cars_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_car_path(@car), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), car_path(@car), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
