<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @car.name %>
</p>

<p>
  <strong>Base price:</strong>
  <%= @car.base_price %>
</p>

<p>
  <strong>Battery capacity:</strong>
  <%= @car.battery_capacity %>
</p>

<p>
  <strong>Range:</strong>
  <%= @car.range %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
